<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<!-- 
		dataSource
		SqlSessionFactoryBean
		SqlSessionTemplate
	 -->
	 <bean id="ds" 
	 		class="org.apache.commons.dbcp2.BasicDataSource">
	 		<property name="driverClassName" 
	 				value="com.mysql.cj.jdbc.Driver" />
			<property name="url" value="jdbc:mysql://localhost:3306/bbsDB"/>
			<property name="username" value="root"/>
			<property name="password" value="!Biz8080"/>	 				
	 </bean>
	
	<bean id="sessionFactory" 
			class="org.mybatis.spring.SqlSessionFactoryBean">
	</bean>

	<bean class="org.mybatis.spring.SqlSessionTemplate">
	</bean>


	

</beans>
