<!DOCTYPE html>
<html
  lang="ko"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/home}"
>
  <section layout:fragment="content">
    <form class="main" method="POST" th:action="@{/input}">
      <div class="input">
        <input
          id="c_carnum"
          name="c_carnum"
          placeholder="차량번호"
          th:value="${CAR.c_carnum}"
        />
        <div class="error c_carnum"></div>
      </div>
      <div class="input">
        <input
          id="c_qty"
          name="c_qty"
          placeholder="업무구분"
          th:value="${CAR.c_qty}"
        />
        <div class="error c_qty"></div>
      </div>
      <div class="input">
        <input
          id="c_username"
          name="c_username"
          placeholder="사용자"
          th:value="${CAR.c_username}"
        />
        <div class="error c_username"></div>
      </div>
      <div class="input">
        <input
          id="c_sdate"
          name="c_sdate"
          placeholder="시작일자"
          th:value="${CAR.c_sdate}"
        />
        <div class="error c_sdate"></div>
      </div>
      <div class="input">
        <input
          id="c_stime"
          name="c_stime"
          placeholder="시작시간"
          th:value="${CAR.c_stime}"
        />
        <div class="error c_stime"></div>
      </div>
      <div class="input">
        <input
          id="c_skm"
          name="c_skm"
          placeholder="출발 Km"
          th:value="${CAR.c_skm}"
        />
        <div class="error c_skm"></div>
      </div>
      <div class="input button">
        <button type="button">저장</button>
      </div>
    </form>
  </section>
</html>
