<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/tx https://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<!-- dataSource -->
	<bean id="ds" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/mycarDB"/>
		<property name="username" value="root"/>
		<property name="password" value="!Biz8080"/>
	</bean>
	
	<!-- SqlSessionFactoryBean -->
	<!-- Dto 클래스저장 패키지, mapper 폴더 -->
	<bean id="sessionFactory" 
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="ds"/>
		<property name="typeAliasesPackage" 
				value="com.callor.car.model"/>
		<property name="mapperLocations" 
				value="/WEB-INF/spring/mapper/*-mapper.xml"/>
	</bean>
	
	<!-- SqlSessionTemplate -->
	<bean class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sessionFactory"/>	
	</bean>
	
	<!-- mybatis-scan -->
	<!-- dao package 생성 -->
	<mybatis-spring:scan base-package="com.callor.car.persistance"/>
	
	<!-- tx 설정 -->
	<tx:annotation-driven/>
	<bean id="transactionManager"
	class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource"  ref="ds"/>
	</bean>	

</beans>
