@charset "UTF-8";

form.main {
  width: 70%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form.main div {
  margin: 0.5rem;
  padding: 0.5rem;
}

form.main input {
  padding: 5px;
  outline: none;
  border: 1px solid #ddd;
}

form.main div.input {
  display: flex;
  flex-direction: column;
}

form.main div.error {
  display: none;
  color: red;
}

form.main div.error.on {
  display: inline-block;
}
