@charset "UTF-8";

form.main {
  width: 70%;
  margin: 10px auto;
  display: flex;
  /* 
  flex-wrap : wrap 
  화면에서 item 이 벗어났을때 자동 줄바꿈 
  */
  flex-wrap: wrap;
}

form.main div {
  flex: 1;
  margin: 5px;
}

form.main input {
  padding: 5px;
  outline: none;
  border: 1px solid #ddd;
}

form.main div.input {
  display: flex;
  flex-direction: column;
}

form.main div.error {
  display: none;
  color: red;
}

form.main div.error.on {
  display: inline-block;
}
