@charset "UTF-8";

form {
  width: 60%;
  margin: 1rem auto;
  border: 1px solid #ddd;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

form div {
  display: flex;
  margin: 5px;
  border: 1px solid #ddd;
}

form label {
  flex: 1;
}

form input {
  flex: 3;
}

div.search.container {
  flex: 3;
  position: relative;
}

div.search.list {
  position: absolute;
  top: 100%;
  border: 1px solid blue;
}
