@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  width: 60%;
  margin: 1rem auto;
  border: 1px solid #ddd;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
/*
form tag 의 child div 에 속성 지정하기
form div : form 자식, 손자, 증손자, 고손자 할것 없이 모든 div
form &gt; div : 순수하게 form 자식 div 에 적용
*/
form > div {
  display: flex;
  margin: 5px;
}

form label {
  flex: 1;
  text-align: right;
  margin-right: 3px;
}

form input {
  flex: 3;
}

div.search.container {
  flex: 3;
  display: flex;
  position: relative;
}

div.search.list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 300px;
  overflow: auto;
  border: 1px solid blue;
  display: none;
  background-color: white;
}

/* 새로 생성되는 div */
div.search.list div {
  padding: 0.3rem;
  cursor: pointer;

  /* text ellipsis : 말줄임표 만들기 */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div.search.list div:nth-of-type(odd) {
  background-color: #f2f2f2;
}

div.search.list div:nth-of-type(even) {
  background-attachment: white;
}

div.search.list div:hover {
  background-color: #ddd;
}

span.search-item {
  font-weight: bold;
  color: blue;
}
