@charset "UTF-8";

h1.rent,
div.rent.button,
table.rent {
  width: 80%;
  margin: 1rem auto;
  border-collapse: collapse;
}

table.rent th,
table.rent td {
  text-align: left;
  padding: 0.8rem;

  white-space: nowrap;
  border: 1px solid #ddd;
}

table.rent tr:nth-of-type(1) {
  background-color: #ddd;
}

table.rent tr:nth-of-type(2) {
  background-color: #eee;
}

table.rent tr.tr-2nd td {
  border-bottom: 1px solid #777;
}

div.rent.button {
  text-align: right;
}
