<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/home}"
>
  <section layout:fragment="content" class="user">
    <form class="user" method="POST">
      <div>
        <label for="username">USERNAME</label>
        <input type="text" id="username" name="username" />
      </div>
      <div>
        <label for="password">PASSWORD</label>
        <input type="password" id="password" name="password" />
      </div>
      <div><button>로그인</button></div>
      <div>
        <span
          ><a th:href="@{/user/finduser}">아이디,비번찾기</a> </span
        >&nbsp;|&nbsp;
        <span><a th:href="@{/user/join}">회원가입</a></span>
      </div>
    </form>
  </section>
</html>
