<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.callor.todo.dao.TodoDao">
 	<insert id="insert">
 		INSERT INTO tbl_todoList
 		(to_sdate, to_stime, to_content)
 		VALUES
 		(#{to_sdate}, #{to_stime}, #{to_content})
 	</insert>
 	<update id="update"></update>
 
 </mapper> 